* {
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url("Images/HalloweenStartPic.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Yeon Sung", cursive;
  font-size: 25px;
}
